header {
  align-content: center;
  align-items: center;
  background-color: #202020;
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header * {
  margin: 0;
}

header h2 {
  font-size: 1.2em;
  color: var(--red);
  width: 100%;
}

header img {
  height: min-content;
  margin: 10px auto;
  width: 160px;
}
