footer {
  align-items: center;
  background-color: #202020;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

footer * {
  margin: 0;
}

footer h2 {
  font-size: 1.2em;
  color: var(--red)
}

footer img {
  height: min-content;
  width: 160px;
}

footer p {
  font-size: 1em;
  color: var(--red)
}

footer .logo {
  display: block;
  flex-wrap: wrap;
  text-align: center;
}

@media screen and (max-width:720px) {
  footer {
    display: block;
    text-align: center;
  }

  footer .logo {
    margin-bottom: 10px;
  }

  footer p {
    font-size: 0.8em;
    color: var(--red)
  }
}
