@font-face {
  font-family: "Myanmar Khyay";
  src:url("../public/assets/fonts/MyanmarKhyay.ttf");
}

body {
  margin: 0;
  font-family: "Myanmar Khyay";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --black: #202020;
  --pitch-black: #070707;
  --dark-grey: #2C2C2C;
  --grey: #9E9E9E;
  --white: #E5E5E5;
  --red: #E50914;
}
